@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

//Colors
$purple: rgb(30, 46, 77);
$purple-transparent: rgba(30, 46, 77, 0.589);
$white: white;
$box-shadow-grey: rgb(88, 85, 85);
$box-shadow-light-grey: rgba(146, 144, 144, 0.603);
$dark-grey: rgb(95, 93, 93);
$light-purple: rgb(47, 69, 114);
$red: rgba(247, 58, 58, 0.911);
$green: rgb(10, 167, 10);
$window-overlay-grey:  rgba(105, 104, 104, 0.541);

//Reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

html {
    font-size: 100%;
}

body {
    min-height: 100vh;
    background-color: $purple;
    position: relative;

    main {
        min-height: 100vh;
        padding: 1.875rem;
    }
}

//Typography
h1 {
    font-size: 2rem;
    color: $white;
    font-family: 'Pacifico', cursive;
    text-shadow: 0.0625rem 0.156rem 0.156rem $box-shadow-grey;
}

button {
    font-size: 1rem;
    font-weight: 600;
    color: $white;
    background-color: $purple;
    border: none;
}

button:hover {
    background-color: $purple-transparent;
    cursor: pointer;
}

//mixins 
@mixin input-field {
    width: 100%;
    border-radius: 0.625rem;
    border: 0.0625rem solid $box-shadow-light-grey;
    outline: none;
    padding: 0.625rem;
    &:focus {
        box-shadow: 0.09375rem 0.09375rem 0.1875rem $box-shadow-light-grey;
    }
}

$breakpoints: (
    'small': '36rem', // ≥576px
    'medium': '48rem', // ≥768px
    'large': '62rem', // ≥992p
    'x-large': '75rem', // ≥1200px
    'xx-large': '87.5rem', // ≥1400px
);

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints, $size)) {
		@content;
	}
}

//animations
@keyframes fade-slide-in {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0);
    }
  }