@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

//Colors
$green: rgb(3, 105, 63);
$green-transparent: rgba(3, 105, 63, 0.658);
$white: white;
$box-shadow-grey: rgb(88, 85, 85);
$box-shadow-light-grey: rgba(146, 144, 144, 0.603);
$dark-grey: rgb(95, 93, 93);

//Reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

html {
    font-size: 100%;
}

body {
    height: 100vh;
    background-color: $green;
  
    main {
        height: inherit;
        padding: 1.875rem;
    }
}

//Typography
h1 {
    font-size: 2rem;
    color: $white;
    font-family: 'Pacifico', cursive;
    text-shadow: 0.0625rem 0.156rem 0.156rem $box-shadow-grey;
}

//mixins 
@mixin input-field {
    width: 100%;
    border-radius: 0.625rem;
    border: 0.0625rem solid $box-shadow-light-grey;
    outline: none;
    padding: 0.625rem;
    &:focus {
        box-shadow: 0.09375rem 0.09375rem 0.1875rem $box-shadow-light-grey;
    }
}

$breakpoints: (
    'small': '36rem', // ≥576px
    'medium': '48rem', // ≥768px
    'large': '62rem', // ≥992p
    'x-large': '75rem', // ≥1200px
    'xx-large': '87.5rem', // ≥1400px
);

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints, $size)) {
		@content;
	}
}