.white-patch {
    width: 100%;
    max-width: 31.25rem;
    border-radius: 1.875rem;
    background-color: $white;
    padding: 1.875rem;

    .search-field {
        border: 0.0625rem solid $box-shadow-light-grey;
        outline: none;
        padding: 0.875rem;
        height: 3.125rem;
        border-radius: 1.875rem;
        margin-right: 0.3125rem;
        &:focus {
            border: 0.0625rem solid $dark-grey;
        }
    }
    
    .search-button {
        font-size: 0.875rem;
        width: 4.375rem;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 6.25rem;
    }

    .create-icon-label {
        text-align: center;
        font-size: 1rem;
        color: $purple;
        font-weight: 500;
    }
    
    .create-icon {
        width: 6.25rem;
        height: 6.25rem;
        border: 0.156rem dashed $purple;
        border-radius: 6.25rem;
        cursor: pointer;

        &:hover{
            border: 0.156rem dashed $purple-transparent;
        }

        &__cross {
            font-size: 2.125rem;
            font-weight: 500;
            color: $purple;
        }
    }

    .view-button {
        width: 7.5rem;
        height: 3.125rem;
        border-radius: 1.625rem;
    }
}

.overlay {
    min-height: inherit;
    width: 100%;
    padding: 1.25rem;
    position: absolute;
    top: 0;
    z-index: 2000;
    background-color: $light-purple;
}

.window {
    height: 80vh;
    width: 100%;
    max-width: 31.25rem;
    background-color: $white;
    border-radius: 0.625rem;
    position: relative;
    animation: fade-slide-in 0.6s ease-out forwards;
 
    @include breakpoint(small) {
        height: 95vh;
    }
    
    &__close-cross {
        color: $dark-grey;
        font-size: 1.25rem;
        position: absolute;
        top: 0.3125rem;
        right: 0.75rem;
        font-family: monospace;
        color: $dark-grey;
        &:hover {
            color: $purple-transparent;
            cursor: pointer;
        }
    }

    .save-button {
        height: 3.125rem;
        width: 5rem;
        border-radius: 1.125rem;
        font-size: 0.875rem;
        outline: none;
    }
}

.writing-area {
    height: 90%;
    width: 85%;
    margin-top: 0.625rem;

    &_title {
        @include input-field;
        height: 10%;
        margin-bottom: 0.9375rem;
        font-weight: 600;
    }

    &_text {
        @include input-field;
        height: 100%;
        font-weight: 500;
        margin-bottom: 0.9375rem;
    }
}

