.commands-container {
    width: 100%;
    padding: 1rem;
}

.window-overlay {
    @include overlay;
    z-index: 2000;
    background-color: $overlay-window;
}

.alert-box-overlay {
    @include overlay;
    z-index: 4000;
    background-color: $overlay-alert-box;
}