.search-bubble {
    display: flex;
    width: min(90%, 400px);
    justify-content: space-around;
    align-items: center;
    height: 3.125rem;
    margin: auto;
    background-color: $white;
    border-radius: 1.875rem;
    

    &__field {
        border-radius: 1.875rem;
        width: 80%;
        height: 100%;
        background-color: $white;
        outline: none;
        padding: 0.875rem;
        border: none;
    }

    &__btn {
        font-size: 1.125rem;
        height: 1.875rem;
        width: 1.875rem;
        border-radius: 100%;
        color: $white;
        background-color: $blue;
        @include breakpoint(small) {
            height: 2.1875rem;
            width: 2.1875rem;
        }
        @include breakpoint(medium) {
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}

.writing-area {
    @include flex-column-center;
    min-height: 90%;
    min-width: 85%;
    margin-top: 1.375rem;

    &__title {
        @include input-field;
        height: 10%;
        margin-bottom: 0.9375rem;
        font-weight: 600;
    }

    &__text {
        @include input-field;
        height: 100%;
        font-weight: 500;
        margin-bottom: 0.9375rem;
    }

    &__btn {
        height: 3.125rem;
        width: 5rem;
        border-radius: 1.125rem;
        font-size: 0.875rem;
        outline: none;
        @include breakpoint(medium) {
            height: 3.4375rem;
            width: 5.3125rem;
            border-radius: 1.25rem;
        } 
    }
}
